/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff"), url("../fonts/poppins-v15-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff"), url("../fonts/poppins-v15-latin-500.ttf") format("truetype"), url("../fonts/poppins-v15-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins-v15-latin-700.woff") format("woff"), url("../fonts/poppins-v15-latin-700.ttf") format("truetype"), url("../fonts/poppins-v15-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
* {
  font-family: "Poppins";
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****header*****/
.header {
  background: #ffffff;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 144px 21px 146px;
}

.logo {
  margin-right: 222px;
  margin-bottom: 7px;
}

/*****menu*****/
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu div {
  display: flex;
  align-items: center;
}

.menu div a {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 379px;
  margin-right: 25px;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #22343D;
}

.menu__btn__sign-in {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 102px;
  height: 43px;
  margin-right: 24px;
  background-color: transparent;
  padding-left: 4px;
  padding-top: 2px;
}

.menu__btn__sign-up {
  width: 110px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: 43px;
  margin-right: 24px;
  background-color: #02897A;
  color: #FFFFFF;
  padding-left: 3px;
  padding-top: 2px;
}

/*****body*****/
body {
  background: #ffffff;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

/*****container*****/
.container {
  width: 1090px;
  padding: 0 0px;
  margin: 0 auto;
}

/*****section*****/
.section {
  background: #ffffff;
}

.section__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*****section__left*****/
.section__left {
  width: 44%;
  margin-left: 4px;
}

.section__left h1 {
  margin-top: 141px;
  font-size: 40px;
  font-weight: bold;
  max-width: 412px;
  line-height: 60px;
}

.section__left p {
  font-size: 18px;
  line-height: 28px;
  padding-right: 20px;
  margin-top: 18px;
}

.section__left button {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  border: 0;
  background-color: #02897A;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 2px;
}

.img__play {
  margin-left: 30px;
  margin-top: 16px;
  margin-right: 6px;
}

/*****section__right*****/
.section__right {
  width: 56%;
}

.section__right img {
  width: 600px;
  height: 555.72px;
  margin-top: 21px;
  margin-left: 16px;
}

.btn-green {
  background: #02897A;
}

.text-white {
  color: #ffffff;
}

.text-green {
  color: #02897A;
}

.bold {
  font-weight: 700;
}

.section__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 56px;
}

.section__btn a {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/********************block**********************/
.block {
  background-image: url("../img/Bg.svg");
  background-size: 100%;
  background-position: bottom;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  margin-bottom: 148px;
}

.block .container {
  width: 1107px;
}

.block h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  padding: 107px 279px 66px 294px;
  letter-spacing: 0.3px;
}

.block h3 {
  font-size: 22px;
}

.block h4 {
  margin-top: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.block-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-btn button {
  width: 175px;
  height: 53px;
  background: #02897A;
  border-radius: 4px;
  border: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 186px;
  margin-left: 20px;
}

.border__ico {
  border: solid 0px #22343D;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 0px #a5a5a5;
  margin-bottom: 30px;
}

.bg-1 {
  background: #4D8DFF;
}

.bg-green {
  background: #02897A;
}

.bg-3 {
  background: #740A76;
}

.bg-red {
  background: #F03E3D;
}

.products {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 240px;
  height: 54px;
}

/*!*********************block-1********************!*/
.block-1 {
  margin-bottom: 148px;
}
.block-1 .container {
  width: 1109px;
  display: flex;
}
.block-1 .container .content_text {
  width: 50%;
  padding-top: 20px;
}
.block-1 .container .content_text .content_text-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
  letter-spacing: -0.1px;
}
.block-1 .container .content_text .content_text-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  padding-bottom: 24px;
}
.block-1 .container .content_text .content_text-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.block-1 .container .content_text .content_text-4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.1px;
  padding-bottom: 12px;
}
.block-1 .container .content_text .content_text-5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 50px;
  padding-bottom: 25px;
}
.block-1 .container .content_text .content_text-6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}
.block-1 .container .content_text .content_text-7 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 70px;
}
.block-1 .container .content_img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*!*********************block-2********************!*/
.block-2 {
  margin-bottom: 148px;
}
.block-2 .container {
  width: 1123px;
  display: flex;
}
.block-2 .container .content_text {
  width: 50%;
  padding-top: 37px;
  padding-left: 79px;
}
.block-2 .container .content_text .content_text-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
  letter-spacing: -0.1px;
}
.block-2 .container .content_text .content_text-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  padding-bottom: 24px;
}
.block-2 .container .content_text .content_text-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.block-2 .container .content_text .content_icon-1 {
  display: flex;
  margin-bottom: 30px;
}
.block-2 .container .content_text .content_icon-1 img {
  padding-right: 30px;
}
.block-2 .container .content_text .content_icon-1 .content_text-4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 100px;
}
.block-2 .container .content_text .content_icon-2 {
  display: flex;
  margin-bottom: 30px;
}
.block-2 .container .content_text .content_icon-2 img {
  padding-right: 30px;
}
.block-2 .container .content_text .content_icon-2 .content_text-5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 50px;
}
.block-2 .container .content_text .content_icon-3 {
  display: flex;
}
.block-2 .container .content_text .content_icon-3 img {
  padding-right: 30px;
}
.block-2 .container .content_text .content_icon-3 .content_text-6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 20px;
}
.block-2 .container .content_img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
}

/*!*********************block-3********************!*/
.block-3 {
  margin-bottom: 148px;
}
.block-3 .container {
  width: 1115px;
  display: flex;
}
.block-3 .container .content_text {
  width: 50%;
  padding-left: 3px;
  padding-top: 20px;
}
.block-3 .container .content_text .content_text-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
  letter-spacing: -0.1px;
}
.block-3 .container .content_text .content_text-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  padding-bottom: 24px;
}
.block-3 .container .content_text .content_text-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 88px;
  padding-bottom: 30px;
}
.block-3 .container .content_text .content_text-4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.1px;
  padding-bottom: 12px;
}
.block-3 .container .content_text .content_text-5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 50px;
  padding-bottom: 25px;
}
.block-3 .container .content_text .content_text-6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}
.block-3 .container .content_text .content_text-7 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-right: 70px;
}
.block-3 .container .content_img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*!*********************block-4********************!*/
.block-4 {
  background-image: url("../img/Bg2.svg");
  background-size: cover;
  width: 100%;
  height: 390px;
  margin-bottom: 285px;
}
.block-4 .container {
  width: 1400px;
  padding: 0 0px;
  margin: 0 auto;
}
.block-4 .container .btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.block-4 .container button {
  margin-top: 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  border: 0;
}
.block-4 .container .content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  padding-top: 56px;
  margin-bottom: 16px;
}
.block-4 .container .content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 0px 400px;
  margin-bottom: 30px;
}
.block-4 .container .content_comment {
  width: 963px;
  margin: 0 197px 0 239px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.block-4 .container .content_comment .img_avatar-1 {
  padding-left: 1px;
}
.block-4 .container .content_comment .img_avatar-4 {
  padding-right: 40px;
}

/*!*********************block-5********************!*/
.block-5 .container {
  width: 1107.5px;
}
.block-5 .container .content .cards {
  display: flex;
  flex-direction: row;
}
.block-5 .container .content .cards .border_cards {
  width: 348px;
  height: 359px;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 32px;
  margin-right: 32px;
}
.block-5 .container .content .cards .border_cards img {
  width: 348px;
  height: 185px;
}
.block-5 .container .content .cards h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  margin: 18px 0 0 24px;
}
.block-5 .container .content .cards h4 span {
  font-weight: 700;
}
.block-5 .container .content .cards h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  margin: 11px 30px 40px 24px;
}
.block-5 .container .content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  margin-bottom: 8px;
}
.block-5 .container .content h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

/*# sourceMappingURL=style.css.map */
